.curious {
    padding-bottom: 42px;
    &__title,
    &__body {
        width: 273px;
    }
    &__title {
        padding-bottom: 20px;
        strong {
            font-size: 25px;
            line-height: 33px;
            text-decoration: none;
        }
    }
    &__body {
        &:nth-child(2),
        &:nth-child(3) {
            margin-bottom: 10px;
        }
    }
    @media (min-width:750px) {
        &__title,
        &__body {
            width: 80%;
            max-width: 450px;
        }
        &__title {
            strong {
                font-weight: 800;
                font-size: 40px;
                line-height: 40px;
            }
        }
    }
}

.last {
    margin-top: 10px;
}