/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

form {
    min-height: 276px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1em;
    input,
    textarea {
        color: #fff;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        padding: 5px 0 0 5px;
    }
    textarea {
        resize: none;
    }
    .form__contain {
        padding-right: 1em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        p {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-bottom: 1em;
            input {
                -webkit-box-flex: 2;
                -ms-flex-positive: 2;
                flex-grow: 2;
                margin-left: 5px;
            }
        }
        input+label {
            padding-top: 1em;
        }
    }
    .form__buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 1em;
        margin-left: 1em;
        button {
            color: #000;
            background-color: #fff;
            outline: none;
            border: none;
            font-weight: bold;
        }
        .button--emoji {
            width: 50px;
            height: 50px;
            border-radius: 100px;
        }
        .button--submit {
            width: 70px;
            height: 34px;
        }
        @media (min-width: 1000px) {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            max-width: 50%;
        }
    }
}

.send-message {
    max-height: 100%;
    max-width: 80%;
    background-color: #F4F3F1;
    padding: 10px 0 50px 20px;
    font-size: 16px;
    line-height: 15px;
    h3 {
        margin-bottom: 20px;
    }
}

.emoji-mart-preview-emoji,
.emoji-mart-preview-data {
    display: none;
}

.emoji-mart-preview-skins {
    right: 50%;
}