.partners {
    padding: 0 0 20px 48px;
    &__body {
        width: 275px;
        padding-bottom: 15px;
        &:nth-child(2) {
            padding-bottom: 1px;
        }
    }
    &__slider {
        display: flex;
        align-items: center;
        width: 265px;
        height: 236px;
        margin: 0 0 100px 48px;
        img {
            max-width: 100%;
            max-height: auto;
        }
    }
    @media (min-width: 1000px) {
        &__body {
            width: 50%;
            line-height: 22px;
        }
        &__slider {
            margin-bottom: 20px;
            width: 87.5%;
            img {
                padding-left: 10px;
            }
        }
    }
}

.modal__close {
    display: flex;
    margin-left: 85%;
    svg {
        margin: 5px;
    }
}