$color-medium: #F4F3F1;
*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-weight: normal;
    font-size: 13.4385px;
    line-height: 18px;
    color: #fff;
}