@import "~bootstrap/scss/bootstrap";
@font-face {
    font-family: 'Inter';
    src: url(../../assets/fonts/Inter-Regular-slnt=0.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../assets/fonts/Inter-SemiBold-slnt=0.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../assets/fonts/Inter-Regular-slnt=0.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../assets/fonts/Inter-Bold-slnt=0.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../assets/fonts/Inter-ExtraBold-slnt=0.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../../assets/fonts/Inter-Black-slnt=0.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Khand';
    src: url(../../assets/fonts/Khand-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Khand';
    src: url(../../assets/fonts/Khand-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Khand';
    src: url(../../assets/fonts/Khand-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

$color-medium: #F4F3F1;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-weight: normal;
    font-size: 13.4385px;
    line-height: 18px;
    color: #fff;
    font-family: 'Inter', 'Lucida Sans', 'Verdana', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@keyframes increase-size {
    0% {
        font-size: 13px;
    }
    10% {
        text-decoration: underline;
        font-weight: bold;
    }
    100% {
        font-size: 30px;
        line-height: 33px;
        text-decoration: underline;
        font-weight: bold;
    }
}

.animated-text {
    animation-name: increase-size;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.32, .99, .87, 1.53);
}