.nonamers__container {
    .nonamers {
        padding-bottom: 20px;
        &__body {
            width: 80%;
            max-width: 360px;
            &:first-child {
                font-weight: bold;
                font-size: 35px;
                line-height: 37px;
                margin-bottom: 18px;
            }
            &:last-child {
                width: 90%;
            }
        }
    }
    .profile-nonamers {
        width: 100%;
        max-width: 360px;
        display: flex;
        flex-wrap: wrap;
        margin-right: 50px;
        div {
            width: 32%;
            margin: 2px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .partner-link {
            color: inherit;
            text-decoration: none;
        }
    }
    @media (min-width: 750px) {
        margin-top: -40px;
        .nonamers__body {
            &:first-child {
                width: 100%;
                font-size: 48px;
                line-height: 48px;
            }
        }
    }
    @media (min-width: 1200px) {
        display: flex;
    }
}