.main {
    .animated-text {
        border-bottom: 1px #fff solid;
        margin-left: 1px;
        display: inline-block;
        font-weight: bold;
    }
    .animated-text--16 {
        animation: breathing16 3s ease-in-out alternate infinite;
        transform-origin: left center;
    }
    .animated-text--18 {
        animation: breathing18 3s ease-in-out alternate infinite;
        transform-origin: left center;
    }
    .animated-text--20 {
        animation: breathing20 3s ease-in-out alternate infinite;
        transform-origin: left center;
    }
    @media (min-width: 1000px) {
        margin-top: 150px;
        width: 70%;
        .animated-text {
            animation: breathing18 3s ease-in-out alternate infinite;
            transform-origin: left center;
            margin-left: 8px;
        }
    }
}

@keyframes breathing16 {
    100% {
        transform: scale(1.23);
    }
}

@keyframes breathing18 {
    100% {
        transform: scale(1.39);
    }
}

@keyframes breathing20 {
    100% {
        transform: scale(1.54);
    }
}