.page {
    position: absolute;
    background-color: black;
    width: 100vw;
}

.page-enter {
    transform: translateX(200%);
    z-index: 1;
}

.page-enter-active {
    z-index: 10;
    transform: translateX(0);
    transition: transform 500ms;
}

.page-exit {
    z-index: 1;
}

.page-exit-active {
    z-index: -1;
}