.wanna-be-partner {
    padding-bottom: 42px;
    &__body {
        max-width: 273px;
        &:first-child {
            padding-bottom: 20px;
        }
        &:nth-child(3) {
            padding-top: 5px;
        }
        strong {
            font-size: 30px;
            line-height: 33px;
            text-decoration: underline;
        }
        &:first-child strong {
            text-decoration: none;
        }
    }
    @media (min-width: 750px) {
        .wanna-be-partner__body {
            width: 80%;
            max-width: 580px;
            line-height: 20px;
        }
        strong {
            font-weight: 800;
            font-size: 48px;
            line-height: 45px;
        }
        .last {
            line-height: 30px;
        }
    }
}

.form__container {
    margin-top: 2em;
    max-width: 273px;
    @media (min-width: 750px) {
        max-width: 580px;
    }
}