.wanna-be-partner {
    padding-top: 26px;
    padding: 0 0 42px 48px;
    display: flex;
    flex-direction: column;
    height: 70%;
    &__body {
        max-width: 273px;
        &:first-child {
            padding-bottom: 20px;
        }
        &:nth-child(3) {
            padding-top: 5px;
        }
        strong {
            font-size: 30px;
            line-height: 33px;
            text-decoration: underline;
        }
        &:first-child strong {
            text-decoration: none;
        }
    }
    @media (min-width: 1000px) {
        .wanna-be-partner__body {
            max-width: 580px;
            line-height: 20px;
        }
        strong {
            font-weight: 800;
            font-size: 48px;
            line-height: 45px;
        }
        .last {
            line-height: 30px;
        }
    }
}

.last {
    padding-bottom: 50px;
}

.form__container {
    margin: 0 auto;
    max-width: 92%;
}