.header {
    margin: 65px 0 10px 48px;
    .nav-toggle {
        background-color: #000;
        border: none;
        padding-bottom: 36px;
    }
    &__logo {
        max-width: 320px;
        img {
            width: 100%;
            margin-left: -22px;
        }
    }
}