/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.header {
    margin: 65px 0 50px 0;
    .nav-toggle {
        background-color: #000;
        border: none;
        outline: none;
    }
    &__logo {
        margin-top: 50px;
        max-width: 360px;
        img {
            width: 90%;
        }
    }
}

@media (min-width: 750px) {
    .header {
        margin-top: 0;
        width: 30%;
        .nav-toggle {
            position: absolute;
            top: 8%;
            right: 5%;
        }
        &__logo {
            margin-top: 0;
            img {
                width: 100%;
            }
        }
    }
    .header--nonamer {
        width: 0;
    }
}

.alert-enter {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
}

.alert-enter-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
}

.alert-exit {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.alert-exit-active {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
}