.home {
    padding: 0 0 60px 48px;
    display: flex;
    flex-direction: column;
    height: 70%;
    &__body {
        width: 275px;
        font-size: 13.4px;
        &:first-child {
            padding-bottom: 20px;
        }
        &:last-child {
            padding-top: 5px;
        }
        @media (min-width: 1000px) {
            width: 526px;
            font-size: 18px;
            line-height: 25px;
        }
    }
}

.modal__content--home {
    width: 280px;
    border: none;
    .modal__text--home {
        padding: 0 15px 0;
    }
    h1 {
        font-size: 14px;
        line-height: 13px;
    }
    p {
        font-size: 14px;
        line-height: 13px;
        margin-bottom: 10px;
    }
    .modal__img--home {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        align-items: flex-end;
        img {
            width: 100%;
            height: 100%;
        }
    }
}